:root {
  --default-font: "Open Sans", sans-serif;
  --primary-color: #e2ba3c;
  --secondary-color: #30495a;
  --tertiary-color: #191919;
}

body {
  font-family: var(--default-font);
  margin: 0 auto;
  color: var(--secondary-color);
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  color: var(--secondary-color);
  line-height: 1.5;
}

h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 100;
  margin: 20px 200px;
  line-height: 1.5;
}

h3 {
  font-size: 36px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

nav {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.nav-container {
  margin: 10px 200px;
}

.logo {
  max-width: 150px;
}

nav button,
.download-section button {
  margin: 10px;
  border: none;
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: rgba(226, 186, 60, 0.4) 0px 7px 29px 0px;
  transition: transform 0.5s;
}

nav button {
  padding: 10px 25px 10px 25px;
  border-radius: 4px;
}

nav button:hover,
.download-section button:hover {
  transform: scale(1.1);
  box-shadow: rgba(226, 186, 60, 0.6) 0px 7px 29px 0px;
}

.download-link {
  color: #f2efe8;
  text-decoration: none;
}

.img-translation-feature,
.img-foreign-chapter {
  display: block;
  margin: 50px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: rgba(226, 186, 60, 0.2) 0px 7px 29px 0px;
}

main {
  margin: 80px 200px;
}

main p {
  line-height: 1.8;
  font-size: 18px;
}

.translation-feature {
  padding: 20px;
  background-color: #f2efe8;
  border-radius: 8px;
  box-shadow: rgba(226, 186, 60, 0.2) 0px 7px 29px 0px;
}
.translation-form {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 50%;
}

.translation-form input,
.translation-form select {
  margin-right: 10px;
}

.translation-sample {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.8;
  text-align: left;
  margin: 20px auto;
  padding: 30px 60px;
  width: 90%;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  background-color: #ffffff;
}

#translated-text {
  display: inline-block;
}
#translated-text::first-letter {
  text-transform: uppercase;
}

.contact-us-link {
  color: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.contact-us-link:hover {
  text-decoration: none;
}

.download-section {
  background-color: #9b2363;
  padding: 30px;
  text-align: center;
}
.download-section h3 {
  color: #ffffff;
  margin: 30px 0;
}
.download-section button {
  padding: 20px 25px 20px 25px;
  border-radius: 8px;
  font-size: 16px;
}

footer {
  background-color: var(--tertiary-color);
  padding: 30px;
  display: flex;
  justify-content: center;
}

footer p {
  color: #ffffff;
  margin: 20px 0 0 15px;
  font-size: 13px;
  font-weight: 200;
  opacity: 0.5;
}

@media (max-width: 992px) {
  .logo {
    max-width: 130px;
  }
  .nav-container {
    margin: 10px 50px;
  }
  h2 {
    font-size: 22px;
    margin: 20px 50px;
  }
  h3 {
    font-size: 30px;
    text-align: center;
  }
  h4 {
    font-size: 24px;
    text-align: center;
  }
  .img-translation-feature,
  .img-foreign-chapter {
    max-width: 600px;
  }
  main {
    margin: 80px 50px;
  }
  .translation-feature {
    padding: 20px;
    margin: 15px 0 0 0;
    text-align: center;
  }
  .translation-form {
    width: auto;
    margin: 20px 50px;
  }
  .translation-form input.translate-btn {
    margin-right: 0;
  }
  .translation-sample {
    padding: 25px;
    text-align: justify;
  }
}

@media (max-width: 576px) {
  .logo {
    max-width: 120px;
    margin-top: 8px;
  }
  .nav-container {
    margin: 0 8px;
  }
  nav button {
    padding: 15px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 22px;
    margin: 20px;
  }
  .img-translation-feature {
    max-width: 330px;
  }
  main {
    margin: 80px 20px;
  }
  .translation-feature {
    padding: 10px;
  }
  .translation-form {
    display: block;
    margin: 0 auto;
  }
  .translation-form input {
    width: 75%;
    margin: 10px auto;
  }
  .translation-form select {
    width: 50%;
    margin: 0 auto;
  }
  .translation-form .translate-btn {
    width: 50%;
    margin-bottom: 5px;
  }
  .translation-sample {
    padding: 20px;
  }
  .img-foreign-chapter {
    max-width: 320px;
  }
  .download-section {
    padding-top: 10px;
  }
  .download-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  footer .logo {
    max-width: 100px;
  }
  footer p {
    margin: 20px 0 0 15px;
  }
}
